{% extends "rideService/homeBase.html" %}
{% block content %}
{%if requests%}    
<div style="font-size:50px; color:#000; margin-left: 15%; margin-right: 15%; background-color:#fff; opacity: 0.7;">
        <h2 style = "text-align:center;">Hello, {{driver.account.username}}! Here is your confirmed rides.</h2>
    </div>
    {% for request in requests %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%; margin-top: 5%;">
            <div class="media-body">
                <div class="article-metadata">
                    <h3>Destination: {{ request.destination }}  
                            <a style="margin-right: 5px; float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'driver-confirmed-request-detail' request.id %}">
                                View Details
                            </a>
                            <a style="margin-right: 5px; float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'complete-request' request.id %}">
                                Ride Complete
                            </a>
                        </h3>
                    <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
                </div>
            </div>
        </article>
    {% endfor %}
{%else%}
        <p style="margin-top:10%; font-size:30px; color:#ffffff;text-align:center;">No request Information Right Now, Find A New Request?<a style="position:relative;left:20px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'driver-requests'%}">Search Here!</a>></p>>
{%endif%}
{% endblock content %}