{% extends "rideService/homeBase.html" %}
{% block content %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%;">
          <div class="media-body">
            <div class="article-metadata">
                <h2>Destination: {{ object.destination }}</h2>
            </div>
                <p class="text-muted">Created by: {{ object.ride_owner.username}}</p>
                <p class="article-content">Arrival Time: {{ object.arrival_time}}</p>
                <p class="article-content">Status: {{ object.status}}</p>
                <p class="article-content">Last Update Time: {{ object.last_updated}}</p>
                <p class="article-content">Can be shared: {{ object.shareable}}</p>
                <p class="article-content">Number of Passengers: {{ object.num_passengers}}</p>
                
                {% if object.sharer %}
                    <p class="article-content">{{ object.sharer.username}} sharers this ride.</p>
                    <p class="article-content">Number of shsrers: {{ object.num_sharer}}</p>
                {% endif %}
                <a style="position: relative; right:10px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'driver-requests' %}">
                        Go Back
                </a>
            </div>
        </article>
{% endblock content %}