{% extends "rideService/homeBase.html" %}
{% block content %}

{%if request_confirmed%}
    <div style="font-size:50px; color:#000; margin-left: 20%; margin-right: 20%; margin-bottom: 5%; background-color:#fff; opacity: 0.7;">
        <h2 style = "text-align:center;">On-going Rides</h2>
    </div>
    {% for request in request_confirmed %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%;">
            <div class="media-body">
                <div class="article-metadata">
                    <h3>Destination: {{ request.destination }}  
                      <a style="margin-right: 20px; float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'request-detail' request.id %}">Detail</a>
                    </h3>
                    <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
        </article>
    {% endfor %}
{% endif %}

    {%if requests_unconfirmed %}
    <div style="font-size:50px; color:#000; margin-left: 20%;margin-right: 20%; margin-top: 5%; margin-bottom: 5%; background-color:#fff; opacity: 0.7;">
        <h2 style = "text-align:center;">Unconfirmed Requests</h2>
    </div>
    {% for request in requests_unconfirmed %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%;">
          <div class="media-body">
            <div class="article-metadata">
                <h3>Destination: {{ request.destination }}  
                    <a style="margin-right: 5px; float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'request-detail' request.id %}">Detail</a>
                    <a style="margin-right: 20px; float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'request-update' request.id %}">Edit</a>
                    <a style="margin-right: 20px; float:right;" class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'request-delete' request.id %}">Delete</a>
                </h3>
                <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
        </article>
    {% endfor %}
    {% endif %}
    {%if request_complete %}
    <div style="font-size:50px; color:#000; margin-left: 20%;margin-right: 20%; margin-top: 5%; margin-bottom: 5%; background-color:#fff; opacity: 0.7;">
        <h2 style = "text-align:center;">Complete Requests</h2>
    </div>
    {% for request in request_complete %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%;">
          <div class="media-body">
            <div class="article-metadata">
                <h3>Destination: {{ request.destination }}  
                    <a style="margin-right: 20px; float:right;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'request-detail' request.id %}">Detail</a>
                </h3>
                <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
        </article>
    {% endfor %}
    {% endif %}
    {% if num == 0 %}   
    <p style="margin-top:10%; font-size:30px; color:#ffffff;text-align:center;">No Ride Avaliable Right Now, Create A New One?<a style="position:relative;left:20px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'request-create'%}">Create Here!</a>></p>>
    {%endif%}
{% endblock content %}