{% extends "rideService/homeBase.html" %}
{% block content %}
    <div class="content-section" style="margin-right: 20%;margin-left: 20%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Are you sure you want to delete this post ?</legend>
                <div>
                    <h4>{{ object.destination }}</h4>
                    <p class="article-content">Created by: {{ request.ride_owner.username}}</p>
                    <p class="article-content">Last Update Time: {{ request.last_updated}}</p>
                </div>
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'owner-all-requests'%}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}