{% extends "rideService/homeBase.html" %}
{% block content %}
{% if requests %}
    {% for request in requests %}
        <article class="media content-section" style="margin-right: 20%;margin-left: 20%;">
          <div class="media-body">
                <div class="article-metadata">
                    <h2>Destination: {{ request.destination }}</h2>
                <div>
                        <p class="text-muted">Created by: {{ request.ride_owner.username}}</p>
                        <p class="article-content">Arrival Time: {{ request.arrival_time}}</p>
                        <p class="article-content">Status: {{ request.status}}</p>
                        <p class="article-content">Last Update Time: {{ request.last_updated}}</p>
                        <p class="article-content">Number of Passengers: {{ request.num_passengers}}</p>
                        <a style="position: relative; right:10px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'leave-ride' request.id %}">
                            Leave This Ride
                        </a>
                        <a class="btn btn-outline-secondary" href="{% url 'role'%}">Go Back</a>
                </div>
        </article>
    {% endfor %}
{% else %}
<p style="margin-top:10%; font-size:30px; color:#ffffff;text-align:center;">No On-going ride Right Now, Look for a ride Share?<a style="position:relative;left:20px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'sharer-search'%}">Search Here!</a>></p>>
{% endif %}
{% endblock content %}